@font-face {
  font-family: "Söhne";
  src: url("./fonts/soehne-web-buch.eot"); /* IE9 Compat Modes */
  src:
    url("./fonts/soehne-web-buch.eot?#iefix") format("embedded-opentype"),
    url("./fonts/soehne-web-buch.woff") format("woff"),
    url("./fonts/soehne-web-buch.woff2") format("woff2"); /* Modern Browsers */

  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
