

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
div, section{
  box-sizing: border-box;
}

*{
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.title{
  font-family:"Söhne";
}

h1,h2,h3,h4,h5,a,p{
  font-family:"Söhne";
}

$spacing: 15px;

html{
  min-height: 100vh;
}

.loader{
	height: 100vh;
	position: fixed;
	top:0;
	width:100vw;
	background: black;
	z-index: 99;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
/* SOLAR SYSTEM */

.name-anim {
	width: 60px;
	height: 60px;
	color: white;
	font-size: 30px;
  -webkit-animation: spin3D 1.5s linear 0s infinite;
	font-family:"Söhne";
	transform-origin: 50% 50%;
	text-align: center;
}


@keyframes spin {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(359deg);
  }
}

@keyframes spin3D {
  from {
    transform: rotate3d(0,0.5,0, 360deg);
  }
  to{
    transform: rotate3d(0deg);
  }
}



.map_container {
    height: 100vh;
    width:100vw;
    position: fixed;
    top:0;
    left: 0;
    pointer-events: none;
    z-index: -1;
  }

  .mapboxgl-ctrl-logo, .mapboxgl-ctrl-bottom-right{
    display: none !important;
  }

.home_container{
  height: 100vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.navbar{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  padding: $spacing;
  display: flex;
  justify-content: space-between;
	mix-blend-mode: difference;
	.logo{
		color:white;
	}
  z-index: 4;
	.navlink{
		color:white;
		font-family:"Söhne";
		cursor: pointer;
	}
}

.index-btn{
	cursor: pointer;
}

.CurrentProject{
  text-align: center;
}


.side-bar{
    position: fixed;
    padding:30px;
    box-sizing: border-box;
    transform: translateX(100%);
    width:100vw;
    top:0px;
    left:0;
    height: 100% !important;
    z-index: 2;
    background: #e8f3fe;
    mix-blend-mode: difference;
}

// swiper
.project-navigation{
	position: absolute;
	opacity: 0;
	bottom:$spacing;
	left: $spacing;
	width:200px;
	display: flex;
	z-index: 999;
	mix-blend-mode: difference;
	color:white;
	font-size: 30px;
	font-family:"Söhne";
	.nextProj{
		margin-left:$spacing;
	}
}
.swiper-button-disabled{
	display: none;
}

.slider-custom-cont{
	width:100%;
}
.swiper-container{
  mix-blend-mode: exclusion;
  width:100%;
  height: 100vh;
  .swiper-slide{
		height: 100vh;
		transition-timing-function:cubic-bezier(0,1.63,.79,1.09);
    .slide-inner{
      height: 100vh;
      padding:$spacing;
			padding-bottom: $spacing*3;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      color:white;
      mix-blend-mode: difference;
      flex-direction: column;
      .title{
        font-size: 10vw;
        color:white;
        line-height: 10vw;
        mix-blend-mode: exclusion;
				margin-bottom: 5px;
      }

      span{
        padding: 8px 15px;
        font-size: 15px;
        line-height: 1;
        border-radius: 50px;
        background: white;
        color:black;
				font-family:"Söhne";
				mix-blend-mode: exclusion;
      }
      h4{
        font-size: 20px;
        color:white;
        margin-bottom: $spacing;
      }
    }
  }
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
  background:white !important;
}
.swiper-pagination-bullet{
  background: #6c6c6c !important;
  opacity: 1 !important;
}
.swiper-container-vertical > .swiper-pagination-bullets{
	right: 20px !important;
}
.swiper-wrapper{
	.swiper-slide{
		&:first-child{
			.title{
				font-size: 6vw;
				line-height: 6vw;
			}
		}
	}
}
.side-content-project{
	position: fixed;
  box-sizing: border-box;
  width:100vw;
	transform: translateX(100%);
  top:0px;
  left:0;
  height: 100% !important;
  z-index: 3;
	display: flex;
	overflow: hidden;
	.project-container{
		width:100%;
		display: flex;
		height: 100vh;
		overflow-y: scroll;
		.left-col{
			position: sticky;
			top:15vh;
			height: 80vh;
			width:45%;
			color:#e8f3fe;
			mix-blend-mode: exclusion;
			padding: $spacing;
			h1{
				font-size: 60px;
				margin-bottom: $spacing;
			}
			p{line-height: 1.4;}
		}
		.right-col{
			width:55%;
			img{
				width:100%;
				height: auto;
				display:flex;
			}
		}
	}
	.proj-credit{
		display: flex;
		margin-top:$spacing*2;
		.proj-col-left{
			width:50%;
			display: flex;
			a{
				padding: 8px 15px;
				font-size: 15px;
				line-height: 1.1;
				border-radius: 50px;
				background: #e8f3fe;
				color: black;
				margin-right: $spacing;
				text-decoration: none;
				font-family: "Söhne";
				mix-blend-mode: exclusion;
				transition: .2s ease;
				&:hover{
					background: white;
				}
			}
		}
		.proj-col-right{
			width:50%;
			display: flex;
			flex-direction: column;
			font-size: 13px;
			color:#e8f3fe;
			font-family: "Söhne";
		}
	}
}
// about
.side-content{
  position: fixed;
  box-sizing: border-box;
  transform: translateX(100%);
  width:100vw;
  top:0px;
  left:0;
  height: 100% !important;
  z-index: 3;
  color:#e8f3fe;
  mix-blend-mode: exclusion;
}
.side-content{
	display: flex;
	padding:$spacing;
	padding-top:15vh;
	.left-col{
		font-size: 20px;
		width:60%;
		padding-right: $spacing;
		p{
			margin-bottom:$spacing;
		}
	}
	.right-col{
		width:40%;
		img{
			width:100%;
			height: auto;
		}
		.info-about{
			margin-top: $spacing;
			p{
				padding-top: 3px;
			}
		}
	}
}
